.container{
    padding: 50px;
    text-align: center;
    height: 2000px;
}

h2{
    margin: 20px;
}

.btn{
    width: 100px;
    margin: 5px;
}

.red{
    color: white;
    background-color: red;
}

.green-color{
    color: white;
    background-color: green;
}

.blue{
    color: white;
    background-color: blue;
}
